body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #ada6a67c;
  }
  .main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

  }
  
  #game-container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  #user-guess {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  #guess-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  #guess-button:hover {
    background-color: #0069d9;
  }
  
  #message {
    font-weight: bold;
    margin-top: 10px;
  }
  